name: ci.yml
on:
  pull_request:
    branches:
        - main

jobs:
  rust-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Cache Rust build
        uses: Swatinem/rust-cache@v2

      - name: cargo build
        run: cargo build --release --locked

      - name: cargo clippy
        run: cargo clippy --locked --all-targets -- -D warnings

      - name: cargo test
        run: cargo test --locked
